doctype html
html(lang="zh-cn")
    block vars
    head
        meta(charset="utf-8")
        meta(name="format-detection", content="telephone=no")
        meta(name="applicable-device", content="mobile")
        script(src="../../../h5che/src/libs/ui/js/core/flexible.js", inline)

        block head
            title 马路新秀的故事
    body
        block main
        block script

